<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="views/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="views/dist/css/app.css" />
    <link rel="stylesheet" href="views/dist/css/datatable_style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Cadastro de Clientes</title>
  </head>

  <body>
    <div id="app">
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header">
            <div class="d-flex justify-content-between">
              <div class="logo">
                <a href="views/modules/home.php"
                  ><img src="../../dist/img/sem_foto.png" alt="Logo" srcset=""
                /></a>
              </div>
              <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"
                  ><i class="btn btn-sm btn-outline-primary">Menu</i></a
                >
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Menu</li>

              <li class="sidebar-item">
                <a href="../pages/home.php" class="sidebar-link">
                  <i class="bi bi-grid-fill"></i>
                  <span>Início</span>
                </a>
              </li>

              <li class="sidebar-item active">
                <a href="../pages/novo_cadastro.php" class="sidebar-link">
                  <i class="bi bi-file-earmark-medical-fill"></i>
                  <span>Cadastrar novo cliente</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a href="../pages/editar_cadastro.php" class="sidebar-link">
                  <i class="bi bi-file-earmark-medical-fill"></i>
                  <span>Editar Cadastro</span>
                </a>
              </li>
            </ul>
          </div>
          <button class="sidebar-toggler btn x">
            <i data-feather="x"></i>
          </button>
        </div>
      </div>
      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="btn btn-sm btn-outline-primary">Menu</i>
          </a>
        </header>

        <div class="page-heading">
          <h3>Cadastro de Cliente</h3>
        </div>

        <section id="multiple-column-form">
          <div class="row match-height">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Cadastrar novo Cliente</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <form class="form">
                      <div class="row">
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label for="first-name-column">Nome Completo</label>
                            <input
                              type="text"
                              id="first-name-column"
                              class="form-control"
                              placeholder="Nome Completo"
                              name="fname-column"
                            />
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label for="last-name-column">CPF</label>
                            <input
                              type="text"
                              id="last-name-column"
                              class="form-control"
                              placeholder="CPF"
                              name="lname-column"
                            />
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label for="city-column">Cidade</label>
                            <input
                              type="text"
                              id="city-column"
                              class="form-control"
                              placeholder="Cidade"
                              name="city-column"
                            />
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label for="country-floating">Estado</label>
                            <input
                              type="text"
                              id="country-floating"
                              class="form-control"
                              name="country-floating"
                              placeholder="Estado"
                            />
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label for="company-column">Telefone</label>
                            <input
                              type="text"
                              id="company-column"
                              class="form-control"
                              name="company-column"
                              placeholder="Telefone"
                            />
                          </div>
                        </div>
                        <div class="col-md-6 col-12">
                          <div class="form-group">
                            <label for="email-id-column">E-mail</label>
                            <input
                              type="email"
                              id="email-id-column"
                              class="form-control"
                              name="email-id-column"
                              placeholder="E-mail"
                            />
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                          <button
                            type="submit"
                            class="btn btn-primary me-1 mb-1"
                          >
                            Salvar
                          </button>
                          <button
                            type="reset"
                            class="btn btn-light-secondary me-1 mb-1"
                          >
                            Limpar
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="views/dist/js/main.js"></script>
  </body>
</html>
