# Ativação do RewriteEngine que nos permite gerenciar as rotas
RewriteEngine On

# Se o diretório ou arquivos digitados na URL não existirem, seguir a RewriteRule
# RewriteCond %{RE QUEST_FILENAME} !-d      
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite Rule, redirecionar todas as requests para o index.php 
RewriteRule ^(.+)$ ./index.php [QSA,NC]