<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="page-heading">
                        <span>Bem vindos</span>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i
                                class="btn btn-sm btn-outline-primary">Menu</i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item active ">
                        <a href="views/modules/home.html" class='sidebar-link'>
                            <span>Início</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href='' class='sidebar-link'>
                            <span>Cadastrar novo cliente</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="editar_cadastro.php" class='sidebar-link'>
                            <span>Editar Cadastro</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="btn btn-sm btn-outline-primary">Menu</i>
            </a>
        </header>